<html>
<head>
	<html lang="en"></html>
	<title>Mindful</title>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	{{!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> --}}
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ad7c6dd9ef.js" crossorigin="anonymous"></script>
	{{!-- <link href="/css/bootstrap.css" rel="stylesheet"> --}}
	{{!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> --}}
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
{{!-- Begin here (or replace this with any static code already written). --}}
<div class="container">
	<div class="title-header">
		<div class="row">
			<div class="col-6 offset-3 jumbotron">
				<h1 class="display-4">Hello, User!</h1>
			</div>

			<div class="col-1 offset-2 align-self-center">
				<button type="button" class="btn btn-light fas fa-bars fa-2x" onclick="location.href='#'"></button>
			</div>
		</div>

		<div class="row">
			<p class="lead" style="font-size: 36px;">Monday, February 22nd</p>
		</div>
  		<hr class="my-4">
	</div>

<div class="buttons">
	<div class="row">
		<div class="col-6 offset-3" id="start-day">
			<button type="button" class="btn-xl btn-primary" onclick="location.href='#'">
				Start Day
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6 offset-3" id="wellness">
			<button type="button" class="btn-xl btn-primary" onclick="location.href='#'">
				Wellness Routine
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6 offset-3" id="activity">
			<button type="button" class="btn-xl btn-primary" onclick="location.href='/activity'">
				Log Activity
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6 offset-3" id="end-day">
			<button type="button" class="btn-xl btn-primary" onclick="location.href='#'">
				End Day
			</button>
		</div>
	</div>
</div>

</div>


</body>
</html>


